<nav>
    </label>
    <h1>Gen-Z Shop</h1>
    <ul>
        <li><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
        <li><a>Feedback</a></li>
    </ul>
</nav>